/* {"Celadon": #bbdbb4,"Thistle":#d4c5e2,"Raw Umber":#8a6552,"Dark Sienna":#462521,"Honey Yellow":#ffb400} */
@font-face {
  font-family: CaveatBrush;
  src: url(./fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}
@font-face {
  font-family: PermanentMarker;
  src: url(./fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
* {
  font-family: PermanentMarker;
  text-decoration: none;
}
:root {
  /* must start with "--", to invoke -> var(--primary-color); */
  --primary-color: #bbdbb4;
}
header li {
  list-style-type: none;
}
header {
  border: 2px solid black;
  background-color: #d7eed5;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.logoPic {
  min-width: 0;
  min-height: 0;
  max-width: 35%;
}
.flex-container {
  display: flex;
  flex-shrink: .2;
  align-items: flex-end;
  justify-content: flex-start;
}
@media (max-width: 777px) {
  .logoPic {
    opacity: 0.0;
  }
}
#topLeftTitle {

  font-family: PermanentMarker;
  /* px, pixels (absolute):
  used for base font size and really small things like border radii
  em (relative):
  relative to the font size of the parent element; used for font sizes
  rem (relative):
  relative to the font size of the root element; used for margins, widths, padding */
  /* font-size: 7.5vw; */
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(44px, 3.3vw, 77px);
  /* padding: 15px; */
}
#topLeftSubtitle {
  font-size: max(20px, 1.39vw);
}
.topLeftText {
  padding: 7px;
  padding-right: 21px;
  display: flex;
  flex-direction: column;
}
.topLeft {
  display: flex;
  flex-direction: row;
}
header, header a {
  color: rgb(5, 82, 5);
}
.topRight {
  padding-top: 21px;
  padding-right: 3px;
  margin-right: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  /* border: black solid 2px; */
  max-width: 532px;
  flex-basis: 420px;
}
.topLink {
  border: none;
  /* border: black dotted 2px; */
  background-color: transparent;
  cursor: pointer;
  font-size: max(20px, 1.39vw);
  padding-right: 21px;
  text-decoration: none;
}
#mainTitle {
  text-align: center;
  font-size: 28px;
}
#usMap {
  width: 70%;
  max-width: 1288px;
  border: 10px solid brown;
  }
.zip {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zip * {
  font-size: max(17px, 1.27vw);
}
.zip2 {
  font-size: max(17px, 1.27vw);
  text-align: center;
}
.zip p {
  padding: 3px;
}
.mapAndAround {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}
#answer1{
  font-size: max(22px, 1.55vw);
  font-weight: bold;
}
/* ----------------------------------------- */
.buttonRows, .buttonRows2 {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.buttonRows input, .buttonRows2 {
  padding: 16px;
  width: 144px;
  margin: 7px;
  margin-left: 12px;
  margin-top: 35px;
  cursor: pointer;
  font-size: 21px;
}
.buttonRows input, .allZones input, .buttonRows2 {
  background-color: #f1b229;
  color: rgb(97, 28, 7);
  border: 7px solid #471913;
  text-decoration: none;
}
.allZones input {
  padding: 42px;
  /* width: 288px; */
  margin: 14px;
  cursor: pointer;
  font-size: 24px
}
.allZones {
  /* height: 30%; */
  margin-left: 222px;
  margin-top: 77px;
  margin-bottom: 69px;

}

.background {
  background-image: linear-gradient(180deg, rgba(255,0,0,0), rgb(255, 255, 255)), url("pictures/_dirt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 777px; */
  /* height: 400%; */
}
article {
  font-size: max(17px, 1.27vw);
}
/* --------------------------------------- */

/* .zoneContent {
  overflow-x: auto;
} */
.zoneContent::-webkit-scrollbar {
  width: 10px;
}
#zoneNumberTableHeadings th{
  /* padding: 222px; */
  /* margin: 22px; */
  /* border-bottom: 2px solid black; */
  line-height: 300%;
  /* display: flex; */
  justify-content: center;
  align-content: center;
  /* width: 100%; */
  /* height: 100%; */

}
#zoneNumberTableHeadings th {
  /* display: inline-block; */
  /* border-bottom: 2px solid black; */
}
#zoneNumberTable {
  /* text-align: left; */
  padding: 15px;
  /* margin: 33px; */
  /* border: 2px solid black; */
  border-spacing: 5px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* table-layout: fixed; */
  /* width: 100%; */
}
#zoneNumberTable, #zoneNumberTable th, #zoneNumberTable td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px;
}
#zoneNumberTable tr:hover {
  background-color: lime;
}

/* --------------------------------------- */
#deadzone {
  height: 169px;
  display: flex;
  justify-content: center;
}

